<nav id="side_nav">
	<ul>			
		<li>
			<a href="/"><span class="glyphicon glyphicon-search"></span> <span class="nav_title">Search</span></a>
		</li>		
		<li>
			<a href="/preview"><span class="ion-speedometer"></span> <span class="nav_title">Dashboard</span></a>
		</li>		
	</ul>
</nav>