<div class="col-md-12">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="heading_b">Tweets</div>
			<div class="chart" style="width:100%">
				<% for(var i=0; i < content.length; i++) { %>
					<%= content[i] %></br>
				<% } %>
			</div>
		</div>
	</div>
</div>